<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>sociapp</title>
  </head>
  <body>  
    <div class="custom-container">
        <!-- header -->
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <!-- <a href="/dashboard" class="navbar-brand">SociApp</a> -->
          <div class="logo navbar-brand mb-0">
            <img src="/images/sociapp_logo.png" alt="sociapp_logo">
          </div>
          <div>
            <a class="navbar-brand app-name-stylish" href="/dashboard">SociApp</a>
          </div>
          <!-- d-md-flex justify-content-md-end d-grid-->
          <div class=" gap-2  custom-menu-bar ">
            <a href="/dashboard/search" class="btn btn-link me-md-2" type="button" title="search">
              <i class="fa-brands fa-searchengin" style="color: #fff; font-size: x-large;"></i>
            </a>
            <a href="/dashboard/chat" class="btn btn-link me-md-2" type="button" title="chat">
              <i class="fa-regular fa-comments" style="color: #fff; font-size: x-large;"></i>
            </a>
            <a href="/dashboard/profile" class="btn btn-link me-md-2" type="button" style="padding: 0;" title="profile"  style="color: #fff;">
              <% if(user.profilePic){ %>
                <img class="profile-img" src="<%=user.profilePic%>" style="height: 35px; width: 35px;" alt="user-img">
              <% }else{ %>
                <img class="profile-img" src="//www.gravatar.com/avatar/<%=user.emailHash%>?d=retro&s=35" alt="user-img">
              <% } %>
            </a>
            <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
            <a href="/dashboard/create" class="btn btn-success me-md-2" type="button">Create post</a>
            <a href="/sign-out" class="btn btn-danger" type="button">Sign Out</a>
          </div>
        </div>
      </nav>
      