<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/bootstrap-social.css"> -->
    <link rel="stylesheet" href="css/styles.css">

    <title>sociapp</title>
    <style>
      .socials {
        font-size: 2rem;
        padding: 4px 6px;
        color: #fff;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <!-- header -->
    <div class="custom-container">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="logo navbar-brand mb-0">
            <img src="/images/sociapp_logo.png" alt="sociapp_logo">
            </div>
          <a class="navbar-brand app-name-stylish">SociApp</a>
          <form class="flex" action="/signin" method="post">
            <div class="row">
              <div class="col">
                <input type="text" id="username" name="username" class="form-control" placeholder="username" required>
              </div>
              <div class="col">
                <input type="password" id="password" name="password" class="form-control" placeholder="password" required>
              </div>
              <div class="col">
                <button class="btn btn-primary" type="submit">Sign In</button>
              </div>
            </div>
          </form>
        </div>
      </nav>