<%- include('partials/header') %>

        <div class="page-404-content wid-18">
            <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
            <h1>something went wrong</h1>
        </div>

<%- include('partials/footer') %>