    <%- include('partials/header') %>

    <div class="type-chat-msg">
        <form action="" class="user-form" onsubmit="return enterName();">
            <div class="msg-input">
                <input type="text" name="username" id="username" value="<%=user.username%>" readonly>
            </div>
                
            <div class="send-msg">
                <button type="submit">ready</button>
            </div>
        </form>
    </div>
    
    <div class="chat-container">
        <div class="users">
            <h5>Your status: inactive</h5>
            <ul>
                <!-- <li>
                    <button onclick="onUserSelected(this.textContent.trim());" class="online">
                        <span>Saurabh Kumar</span>
                    </button>
                </li> -->
            </ul>
        </div>

        <div class="chat-panel">
            <div class="chat-panel-wrapper">
                <div class="panel-head">
                    <div class="panel-head-flex">
                        <div class="panel-head-flex-item"><img src="https://static.remove.bg/remove-bg-web/5c20d2ecc9ddb1b6c85540a333ec65e2c616dbbd/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg" alt="sss" class="round-img-40" style="width: 40px; height: 40px;" ></div>
                        <div class="panel-head-flex-item">
                            <a href="#" id="user">select user to chat</a>
                            <div id="typing-status" style="color: #ccc; font-size: 10px; text-decoration: italic;"></div>
                        </div>
                        <div class="panel-head-flex-item align-right">
                            <a href=""><i class="fa-solid fa-arrow-rotate-left"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="panel-body">
                    <div class="panel-body-content">
                        <ul class="chat-table"> </ul>
                    </div>
                </div>
            </div>
            
            <div class="type-chat-msg">
                <form action="" class="chat-msg-form" onsubmit="return sendMessage()" autocomplete="off">
                    <div class="msg-input">
                        <input type="text" name="chat_msg" id="chat_msg" placeholder="type message">
                    </div>
                        
                    <div class="send-msg">
                        <button type="submit">send</button>
                        <!-- <i class="fa-solid fa-paper-plane"></i> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
    <%- include('partials/footer') %>