<%- include('partials/header') %>

        <%  if(successMsg.length!=0){ %>
            <div class="message success-message">
            <p class="message-content"><%=successMsg%></p>
            </div>
        <% } %>

        <%  if(errorMsg.length!=0){ %>
            <div class="message error-message">
            <p class="message-content"><%=errorMsg%></p>
            </div>
        <% } %>

        <div class="post-create-content wid-80">
            <form action="/dashboard/create" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="title">
                </div>
                <div class="mb-3">
                    <label for="postContent" class="form-label">Post Content</label>
                    <textarea class="form-control" id="postContent" name="postContent" rows="10" placeholder="Hi everybody ...."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>

<%- include('partials/footer') %>