<%- include('partials/homepage-header') %>
    <div class="bg">
      <%- include('partials/messages/success-failure')%>

          <div class="custom-flex">
            <!-- social login start -->
                  <div class="social-login-flex">
                      <div class="logo">
                        <img src="/images/sociapp_logo.png" alt="sociapp_logo">
                        <h6>SociaApp</h6>
                      </div>

                      <div>
                        <h6>Login with social networks</h6>
                      </div>
                      <div class="socials-btn-flex">
                          <div>
                            <a href="/auth/google">
                              <i class="fa-brands fa-google socials"  style="background: rgb(205, 0, 0);"></i>
                            </a>
                          </div>
                          <div>
                            <a href="/auth/facebook">
                              <i class="fa-brands fa-facebook socials" style="background: rgb(0, 0, 109);"></i>
                            </a>
                          </div>
                          <div>
                            <a href="/auth/twitter">
                              <i class="fa-brands fa-twitter socials" style="background: rgb(44, 251, 255);"></i>
                            </a>
                          </div>
                          <div>
                            <a href="/auth/github">
                              <i class="fa-brands fa-github socials" style="background: #000;"></i>
                            </a>
                          </div>
                          <div>
                            <a href="/auth/spotify">
                              <i class="fa-brands fa-spotify socials" style="background: green;"></i>
                            </a>
                          </div>
                  </div>
          </div>
          <div class="sign-form">
                <div class="logo">
                  <img src="/images/sociapp_logo.png" alt="sociapp_logo">
                  <h6>SociaApp</h6>
                </div>
                <form action="/signup" method="post" class="login-form">
                      <div class="mb-3">
                        <!-- <label for="username" class="form-label">Username</label> -->
                        <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                        <small></small>
                      </div>
                      <div class="mb-3">
                        <!-- <label for="email" class="form-label">Email address</label> -->
                        <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                      </div>
                      <div class="mb-3">
                        <!-- <label for="password" class="form-label">Password</label> -->
                        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                      </div>
                  
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
          </div>
      </div>
    </div>
      

<%- include('partials/footer') %>







<!-- logo credit -->
<!-- <a href="https://www.flaticon.com/free-icons/handshake" title="handshake icons">Handshake icons created by Uniconlabs - Flaticon</a> -->