<%- include('partials/homepage-header') %>
    <center style="font-size: 100px; color: rgb(160, 0, 0);"><i class="fa-solid fa-hammer"></i></center>
    <center style="color: rgb(170, 57, 57); font-size: 50px;">page is in development. please come back later....</center>
    <center><a href="/" style="color: rgb(0, 0, 139); font-size: 50px;"><i class="fa-solid fa-arrow-left"></i><br>back to home</a></center>
<%- include('partials/footer') %>