@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body {
    /* font-family: 'Assistant', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Roboto', sans-serif;
    /* /* font-family: 'Lato', sans-serif; */
    /* letter-spacing: 0.05rem;  */
    /* font-family: 'Abhaya Libre', serif; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Josefin Slab', serif; */

}

/* homepage styles */
.custom-container {
    width: 100%;
    margin: auto;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(160deg, rgb(0, 225, 255) 40%, rgb(0, 167, 142) 20%, rgb(126, 222, 222));  */
}

.navbar {
    background: #292a2d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-name-stylish {
    font-size: 5vw;
    font-family: 'Cinzel', serif;
}

/* .bg {
    background-image: url("/images/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
} */

.custom-flex {
    display: flex;
    /* flex-direction: column; */
    /* align-content: space-around; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.custom-flex > div {
    width: 500px;
    margin: 10px auto;
}

.social-login-flex {
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    box-shadow: 0.6px 0.8px 0.3px 0.5px #ccc, -0.3px -0.1px 0.3px 0.5px #ccc;
    padding: 100px;
}
.social-login-flex:hover {
    box-shadow: -0.6px -0.8px 0.3px 0.5px #ccc, 0.3px 0.1px 0.3px 0.5px #ccc;
}

.social-login-flex > div {
    margin-bottom: 1rem;
}

.social-login-flex > div:first-child > h6 {
    font-size: 12pt;
}

.socials-btn-flex {
    display: flex;
    justify-content: center;
}

.socials-btn-flex > div {
    margin: 0 5px;
}

.socials-btn-flex > div:hover {
    opacity: 0.8;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo > img {
    width: 5vw;
    height: 5vw;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0.5px 0.8px 1px 1px #ccc, -0.8px -0.5px 1px 1px #ccc;
}
.sign-form {
    border-radius: 20px;
    box-shadow: 0.6px 0.8px 0.3px 0.5px #ccc, -0.3px -0.1px 0.3px 0.5px #ccc;
    padding: 50px 80px;
}
.sign-form:hover {
    box-shadow: -0.6px -0.8px 0.3px 0.5px #ccc, 0.3px 0.1px 0.3px 0.5px #ccc;
}

.login-form > div > input {
    font-size: 15px;
}

.login-form > button {
    display: block;
    width: 8rem;
    margin: auto;
    font-size: 12px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    text-align: center;
    font-size: small;
    color: #fff;
    background: #292a2d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* common style */
.wid-80{
    width: 80%;
    margin: 50px auto;
}

.round-img-40 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.card-header {
    background-color: rgb(235, 235, 235);
}

.card-body {
    background-color: rgb(255, 255, 255);
}

/* home dashboard styles */
.home-dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-height: 300px;
}

.latest-heading {
    margin-bottom: 20px;
}

/* post-create-content */

/* single-post-content */
.post-head-content-flex {
    display: flex;
    padding-right: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.post-head-left {
    flex-basis: 70%;
    word-break: break-all;
}

.post-head-right{
    flex-basis: 20%;
}



.post-body-content {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}


.post-writer-name {
    color: rgb(0, 109, 163);
}

.edit {
    padding: 5px 10px;
    font-size: large;
    color: rgb(3, 3, 61);
}

.delete {
    padding: 5px 10px;
    font-size: large;
    color: #860404;
    border-radius: 50%;
}

.delete:hover {
    background: #ccc;
    transition: 0.2s ease-in;
}

/* 404-content */
.page-404-content{
    padding: 50px;
    text-align: center;
}

.page-404-content > h1 {
    font-size: 400%;
}

/* profile image */
.profile-img {
    border-radius: 50%;
}

/* profile page post section */
.user-posts-container {
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.user-posts-container::-webkit-scrollbar {
    display: none;
}

.user-post {
    height: 170px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    opacity: 1;
    word-break: break-all;
    overflow: hidden;
}

.user-post > h5 > a{
    text-decoration: none;
    color: #1d2a57;
    font-weight: 700;
    cursor: pointer;
}

.user-post:hover {
    color: #1d5d00;
    background:#fff;
}

.custom-post-title-font {
    font-size: 1rem;
}
.custom-post-content-font {
    font-size: 0.75rem;
}
.custom-read-more-btn {
    font-size: x-small;
}

/* followers/ followings */
.followering-profiles {
    color: #1d2a57;
}


/* search panel styling */

.search-container {
    font-size: 13px;
    width: 80%;
    margin: auto;
}

.search-sociapp {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.search-panel-wrapper > form > input {
    display: block;
    width: 100%;
    padding: 20px 30px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow:0.2rem 0.2rem 0.8rem #ccc;
    font-size: 1rem;
}

.search-panel-wrapper > form > input:hover{
    box-shadow:inset 0.2rem 0.2rem 0.8rem #ccc;
}

.usersMatched, .postsMatched {
    padding: 20px;
}

.user-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 10px;
    padding: 1rem;
    border: 1px solid #000;
}

.user-card > div > img {
    margin-right: 0.75rem;
    border-radius: 2rem;
}

.user-card > div > a {
    color: rgba(0, 86, 99, 0.833);
    font-weight: 600;
}

.post-card {
    padding: 1rem;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.matched-post-content > a{
    color: rgba(0, 86, 99, 0.833);
    font-weight: 600;
}













/* chat panel css */

.user-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 50%;
}

.chat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    font-size: 13px;
}

.users {
    flex-basis: 30%;
    flex-grow: 1;
    background: #050143;
    border-right: #07006d 0.3px solid;
}

.users > h5 {
    padding: 13px;
    margin-bottom: 0;
    background: #05004d;
    color: aliceblue;
}

.online {
    background: #005703;
    color: rgb(41, 41, 41);
}

.offline {
    background: rgb(108, 108, 108);
    color: rgb(214, 214, 214);
}

.users > ul {
    list-style-type: none;
    max-height: 490px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.users > ul > li > button {
    border: none;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: #ffffff;
    border-bottom: #94ff84 solid .2px;
    box-shadow: 0 1px 2px greenyellow;
}

.users > ul > li > button:hover {
    background: rgb(0, 217, 0);
    color: #000;
    transition:ease 0.5s;
}

/* .users > ul > li > button > img {
    margin-right: 0.7rem;
} */

.chat-panel {
    flex-basis: 70%;
    background: #0b0741;
}

.chat-panel-wrapper {
    height: 500px;
    padding-bottom: 60px;
    overflow-y: scroll;
    position: relative;
}

.users > ul::-webkit-scrollbar {
    display: none;
}

/* customize scroll bar */
:is(.chat-panel-wrapper)::-webkit-scrollbar{ 
    width: 8px;
}

/* .chat-panel-wrapper::-webkit-scrollbar-track {
    background:  #62118a;
} */

.chat-panel-wrapper::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    min-height: 50px;
}

.panel-head {
    background: rgb(3, 0, 79);
    position: sticky;
    top: 0;
    z-index: 1;
}

.panel-head-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    position: relative;
}

.panel-head-flex > div > img{
    margin-right: 1rem;
}

.panel-head-flex > div > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
}

#typing-status {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: lowercase;
    color: #515151;
}

.align-right {
    position: absolute;
    top: 30%;
    right: 8px;
}
/* panel body styling */
.panel-body{
    margin-top: 1rem;
    z-index: 0;
}

.chat-table {
    padding: 0 1rem;
}

.chat-msg {
    display: inline-block;
    width: 60%;
    margin-bottom: 0.25rem;
    padding: 0.45rem;
}

.chat-msg-text {
    display: inline-block;
    margin-top: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    word-break: break-all;
}

.sender {
    color: rgb(0, 78, 196);
    font-weight: 600;
}

.msg-time {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: lowercase;
    color: #515151;
}

.msg-status > .fa-solid {
    color: #32810d;
}

.incoming {
    text-align: left;
}

/* .incoming > img {
    border-radius: 50%;
} */

.incoming > span {
    background: #fff;
}

.outgoing {
    margin-left: 40%;
    text-align: right;
}

.outgoing > span {
    background: linear-gradient(to right, #b7ffbc, #d4fff5);
}


.chat-msg-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.msg-input {
    flex-basis: 80%;
}

.send-msg {
    flex-basis: 20%;
}

.msg-input > input{
    display: block;
    background: rgb(255, 255, 255);
    outline: none;
}

.msg-input > input:active{
    outline: none;
}

.send-msg > button{
    background: #02427d;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.msg-input > input, .send-msg > button {
    width: 100%;
    padding: 5px 20px;
    height: 3rem;
    border: none;
}

.send-msg > button:hover{
    background: #002242;
}

/* media queries */
@media (max-width: 800px) {
    .users, .chat-panel {
        flex-basis: 100%;
    }

    .users {
        border-bottom: #312c71 solid 0.3px;
    }

    .chat-container {
        width: auto;
        margin: 0.3rem;
    }
    /* single-post-content */
    .post-head-content-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .edit {
        margin-left: 0;
        padding-left: 0;
    }

    .user-form {
        width: auto;
        margin: 0.3rem;
    }

    .custom-menu-bar {
        flex-basis: 100%;
    }
}

/* media queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .home-dashboard-content {
        padding: 10px;
        font-size: smaller;
    }

    .wid-80{
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .custom-flex > div {
        width: 100%;
    }

    .logo > img {
        width: 50px;
        height: 50px;
    }

    .chat-msg-form {
        flex-direction: column;
        align-items: stretch;
        margin: 0 1px;
    }

    .user-form {
       flex-direction: column;
       align-items: stretch;
    }
}