/* @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    /* font-family: 'Assistant', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

/* homepage styles */
.custom-container {
    width: 90%;
    margin: auto;
}

.custom-flex {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.custom-flex > div {
    flex-basis: 40%;
    margin-left: 20px;
}

.footer {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: xx-small;
}

/* common style */
.wid-80{
    width: 80%;
    margin: 50px auto;
}

/* home dashboard styles */
.home-dashboard-content {
    padding: 20px 100px;
    text-align: center;
}

/* post-create-content */

/* single-post-content */
.post-head-content-flex {
    display: flex;
    padding-right: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.post-head-left {
    flex-basis: 70%;
    word-break: break-all;
}

.post-head-right{
    flex-basis: 20%;
}

.post-body-content {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.post-writer-name {
    color: rgb(0, 109, 163);
}

.edit {
    font-size: x-large;
    color: rgb(3, 3, 61);
}

.delete {
    font-size: x-large;
}

/* 404-content */
.page-404-content{
    padding: 50px;
    text-align: center;
}

.page-404-content > h1 {
    font-size: 400%;
}

/* profile page post section */
.user-posts-container {
    /* height: 500px; */
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.user-posts-container::-webkit-scrollbar {
    display: none;
}

.user-post {
    height: 170px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    word-break: break-all;
    overflow: hidden;
}

.user-post > h5 > a{
    text-decoration: none;
    color: #1d2a57;
    font-weight: 700;
    cursor: pointer;
}

.user-post > h5 > a:hover{
    color: #0800efc5;
}

.user-post:hover {
    background: rgba(72, 92, 0, 0.231);
    color: rgb(0, 0, 0);
}



/* .user-post > h5 > a:hover{
    color: #fff;
} */